/*reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: 12px;
}
body 			{ line-height: 1; }
ol, ul 			{ list-style: none; }
blockquote, q 	{ quotes: none; }
blockquote:before, blockquote:after, q:before, q:after
				{ content: '';  content: none; }
:focus 			{ outline: 0; }
table 			{ border-collapse: collapse; border-spacing: 0; }

html, body {
	background-color: #FFF;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	height: 100vh;
}

/*input[disabled] {pointer-events:none}*/

.DSI_page {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	align-content: stretch;
	justify-content:space-between;
	color: #464646;
	font: 13px Helvetica, Arial, Sans-Serif;
	position: relative;
	width: 100%;
	min-height: calc(100% - 60px);
}

a {
	color: #C24E00;
	text-decoration: underline;
	font-weight: normal;
}

	a:hover {
		text-decoration: none;
	}

	a:visited {
		color: #C2550C;
	}

	a:active {
		color: #1F88F3;
	}

/*Header Styles*/

.header {
	flex: auto;
	display: block;
	vertical-align: middle;
	height: 60px;
	position: relative;
	max-width: 500px;
	margin: auto;
}

.DSI_navigationHeader {
	width: 100%;
	height: 30px;
	position: relative;
	margin: 9px 0 6px 0;
}

.appNavBackDiv {
	width: 24%;
	height: 30px;
	margin: auto;
	display: inline-block;
}

.importLogoDiv {
	max-width: 48%;
	height: 30px;
	margin: auto;
	display: inline-block;
	overflow: hidden;
}

.appNavMenuDiv {
	width: 24%;
	height: 30px;
	margin: auto;
	display: inline-block;
}



.appNavBack {
	height: 20px;
	max-width: 25%;
	position: absolute;
	left: 0;
	padding: 0 5px;
	margin: auto;
	display: inline-block;
	vertical-align: middle;
}

.importLogo {
	max-height: 30px;
	max-width: 50%;
	position: absolute;
	left: 0;
	right: 0;
	padding: 0 5px;
	margin: auto;
	display: inline-block;
}

.appNavMenu {
	height: 19px;
	max-width: 25%;
	position: absolute;
	right: 0;
	padding: 0 5px;
	margin: auto;
	display: inline-block;
}

.DSI_appTitle {
	max-width: 100%;
	height: 30px;
	position: relative;
	margin: auto;
}

/*Content Styles*/

.content {
	justify-content:flex-start;
	display: block;
	min-height: 100px;
	order: 2;
	flex: auto;
	width: 100%;
	margin: auto;
	position: relative;
	top: 0;
}

.appForm {
	max-width: 800px;
	height: 100%;
	margin: auto;
	display: block;
}

.DSI_body{
	max-width: 500px;
	height: 100%;
	margin: 0 auto;
	display: block;
	
}

.DSI_body p {
	font-size: 14px;
}

.center{
	text-align:center;
}

/*Use this instead of appForm when no form needed */
.DSI_Form_Container {
	display: block;
	max-width: 1000px;
	margin: auto;
}

.DSI_Table_Container {
	display: block;
	max-width: 640px;
	margin: auto;
	overflow: hidden;
}


/*Button Styles*/

.buttonDiv {
	display: block;
	width: 100%;
	margin: auto;
	margin-top: 10px;
	overflow: auto;
}

.toggleButtonsDiv {
	display: flex;
}

.toggleButton1Div {
	width: 50%;
	margin: 0px;
}

.toggleButton2Div {
	width: 50%;
	margin: 0px;
}

.toggleButtons {
	padding: 0;
	width: 100%;
	text-align: center;
	display: inline-block;
	margin: auto;
	border-width: 1px;
	border-color: #464646;
	border-style: solid;
	box-sizing: border-box;
	appearance: none;
	border-radius: 0;
	display: inline-block;
	background-color: white;
	text-transform: uppercase;
	color: #464646;
	height: 30px;
	margin: 0, 0, 0, 0;
	user-select: none;
}

.toggleButtons:hover {
		cursor: pointer;
	}

.toggleButtonsText {
	border: none;
	color: transparent;
	text-shadow: 0 0 0 #464646;
	text-align: center;
}



	/* Footer Styles*/
.footer {
	display: flex;
	align-items: flex-end;
	min-height: 100px;
	order: 3;
	margin: auto;
	margin-bottom: 0;
	overflow: auto;
	vertical-align: bottom;
	position: relative;
	bottom: 0;
}

.DSI_Powered_Logo {
	width: 100%;
	margin: auto;
	bottom: 0;
	padding: 10px 0;
}

/*Other Styles*/

.DSIheader {
	display: block;
	height: 80px;
	max-width: 100%;
	position: relative;
}

.DSI_Header_LogoContainer {
	display: block;
	max-width: 25%;
	vertical-align: middle;
	float: left;
}

.DSI_Header_Logo {
		max-width: 100%;
		max-height: 80px;
}

.DSI_Header_Title {
	max-height: 100%;
	max-width: 100%;
	color: #464646;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	font-size: 20px;
	letter-spacing: 0;
	text-align: center;
	vertical-align: middle;
	float: left;
	text-transform: uppercase;
}

.DSI_SubHeader_Title {
	font-size: 18px;
	letter-spacing: 0;
	vertical-align: middle;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
	margin: -10px 0 10px 0;
}

hr {
	margin-bottom: 15px;
	display: block;
}

.oneColumn, .twoColumns, .threeColumns {
	justify-content: flex-end;
	min-height: 60px;
	display: block;
	margin: auto;
	overflow: auto;
}

.oneColumn {
	align-content: flex-end;
	flex: auto;
	width: 280px;
}

.twoColumns {
	max-width: 640px;
}


.threeColumns {
	width: 1000px;
	min-height: none;
}


/*.fourColumns {
	justify-content: flex-end;
	min-height: 60px;
	width: 1000px;
	display: block;
	margin: auto;
	overflow: auto;
}*/

.DSI_fullWidthContainer {
	width: 100%;
	display: block;
	overflow: auto;
	min-height: 62px;
	margin: auto;
}

.leftColumn, .middleColumn, .rightColumn {
	min-height: 60px;
	width: 320px;
	margin: 10px auto;
	display: block;
	float: left;
}


.tall {
	height: 90px;
}

.subheader {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: -10px;
	text-align: center;
	line-height: 60px;
}

.requiredPlacement {
	display: block;
	width: 280px;
	height: 30px;
	vertical-align: bottom;
	line-height: 18px;
}

.inputHeader {
	width: 280px;
	display: block;
	float: left;
	line-height: 30px;
	font-size: 18px;
	font-weight: 300;
	margin: auto;
	text-transform: uppercase;
}

.inputHeaderLeft {
	max-width: 280px;
	width: 100%;
	text-align: left;
		display: block;
	float: left;
	line-height: 30px;
	font-size: 18px;
	font-weight: 300;
	margin: auto;
	text-transform: uppercase;
}

.formInput {
	width: 280px;
	height: 30px;
	padding: 0;
	margin: auto;
	border-width: 1px;
	border-style: solid;
	box-sizing: border-box;
	border-color: rgb(169, 169, 169);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0;
}

.inputRequired {
	display: block;
	line-height: 24px;
	float: right;
	font-size: 9px;
	margin-right: 0px;
	vertical-align: bottom;
	margin-top: 6px;
	color: red;
}

p.inputRequired {
	margin-top: 0;
}

inputRequiredLeft {
	display: block;
	line-height: 24px;
	float: left;
	font-size: 9px;
	margin-left: 0px;
	vertical-align: bottom;
	margin-top: 6px;
	color: red;
}

.ABCList:disabled {
	background-color: rgb(235, 235, 228);
}

	.spacer {
	height: 30px;
}

.buttonStyles {
	display: block;
	background-color: #464646;
	text-transform: uppercase;
	color: white;
	height: 45px;
	width: 200px;
	margin: auto;
}

.buttonStyles:hover, .inverseButtons:hover, .appNavMenu:hover, .appNavBack:hover {
	cursor: pointer;
}

.inverseButtons {
	display: block;
	background-color: #FFFFFF;
	text-transform: uppercase;
	color: #464646;
	height: 45px;
	width: 200px;
	margin: auto;
}

.radioButton {
	display: inline-block;
	margin: auto;
	width: 32%;
	font-size: 16px;
	font-weight: 300px;
	text-transform: uppercase;
}

.idcontainer {
	background-color: transparent;
	border: none;
	line-height: 40px;
	vertical-align: middle;
	font-size: 14px;
	padding: 0 10px;
	margin: auto;
	height: 100%;
	width: 50px;
}

.removeIcon {
	background-image: url(/images/chiles/sprite_field_widgets_15.png);
	height: 22px;
	width: 22px;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	background-position: -50px -1150px;
	margin: auto;
} 
.removeIcon:hover {
	cursor: pointer;
	background-position: -100px -1150px;
}
.removeIcon:active {
	cursor: pointer;
	background-position: -150px -1150px;
}

.inventorydetail {
	background-image: url(/core/media/media.nl?id=28321&c=TSTDRV1449230&h=b90f4f957eab89b9493a);
	height: 22px;
	width: 22px;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	background-position: -50px -1150px;
	margin: auto;
} 
.inventorydetail:hover {
	cursor: pointer;
	background-position: -100px -1150px;
}
.inventorydetail:active {
	cursor: pointer;
	background-position: -150px -1150px;
}

.inventorydetailfilled {
	background-image: url(/images/chiles/sprite_field_widgets_15.png);
	height: 22px;
	width: 22px;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	background-position: -50px -1200px;
} 
.inventorydetailfilled:hover {
	cursor: pointer;
	background-position: -100px -1200px;
}
.inventorydetailfilled:active {
	cursor: pointer;
	background-position: -150px -1200px;
}

.addLineButton {
	height: 22px;
	width: 22px;
}

.inventorydetail_addline, .addline {
	background-image: url(/images/chiles/sprite_field_widgets_15.png);
	height: 22px;
	width: 22px;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	background-position: -50px -600px;
} 
.inventorydetail_addline:hover{
	cursor: pointer;
	background-position: -100px -600px;
}
.inventorydetail_addline:active{
	cursor: pointer;
	background-position: -150px -600px;
}

.deleteIcon {
	background-image: url(/images/sprite_machines.png);
	height: 20px;
	width: 20px;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	background-position: -0px -705px;
} 
/*New Table Styles*/


.DSI_thtr {
	display: table-row;
	background-color: white;
	border: none;
	margin: 0;
	padding: 0;
	max-height: 40px;
}

tr.DSI_tr {
	display: table-row;
	background-color: white;
	border: none;
	margin: 0;
	padding: 0;
	max-height: 40px;
}

th.DSI_th {
	font-size: 15px;
	line-height: 25px;
	background-color: white;
	border: none;
	margin: 0;
	padding: 0 10px;
	border-bottom: 1px solid gray;
	font-weight: 500;
	max-height: 40px;
}

.DSI_multi_th {
	font-size: 16px;
	line-height: 40px;
	background-color: white;
	margin: 0;
	padding: 0 10px;
	font-weight: 500;
	height: 60px;
	border: none;
	text-transform: uppercase;
}

td.DSI_td {
	background-color: transparent;
	border: none;
	line-height: 40px;
	vertical-align: middle;
	font-size: 14px;
	padding: 0 10px;
	margin: auto;
	height: 100%;
}



th.disabled, td.disabled {
	background-color: #DDD;
	color: #666;
}

.tableSelect {
	width: 120px;
	height: 20px;
	padding: 0 1px;
	border: 1px solid rgb(169, 169, 169);
	text-align: center;
}
.bininput {
      width: 35%;
}
.popupDiv {
	position: absolute;
	height: 100%;
	top: 80px;
	left: 0;
	right: 0;
	max-width: 1000px;
	margin: auto;
	border: none; /*1px solid #C2550C;*/
	/*border-radius:10px;*/
	background-color: #FFF;
	z-index: 99;
}

.pageMask {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	min-height: 100%;
	margin: auto;
	border: none;
	background-color: #FFF;
	display: none;
	overflow: visible;
	z-index: -1;
}

.scrollMask {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	border: none;
	display: block;
	z-index: -1;
}

.noscroll {
	overflow: hidden;
}

.detailSelect {
	min-width: 62px;
	max-width: 100%;
	width: 100%;
	height: 22px;
	margin: auto;
	box-sizing: border-box;
	border: solid 1px #DEDEDE;
	text-align: center;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0;
}

.DSI_tableHeader {
	line-height: 60px;
	vertical-align: middle;
	text-transform: uppercase;
	font-size: 20px;
}

.headingSpan {
	font-size: 16px;
	font-weight: 500;
}

.menu {
	height: 50px;
	display: inline-block;
	width: 100%;
}

.menuSpan {
	font-size: 16px;
	line-height: 20px;
	vertical-align: middle;
	text-transform: uppercase;
	display: inline-block;
	margin: auto;
}

.menuSpan:hover{
	cursor: pointer;
}

a.menuLink {
	width: 320px;
	margin: auto;
	padding-left: 20px;
	text-decoration: none;
	color: #464646;
	outline: 0;
	cursor: auto;
}

i {
	border: solid gray;
	border-width: 0 1px 1px 0;
	display: inline-block;
	padding: 3px;
	margin-left: 10px;
}

.right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.boldText {
	font-weight: 800;
}

tr.selected {
	background: #ddd;
}

.unitInputBox {
	width: 45px;
	height: 20px;
	border: 1px solid #E36B2B;
	font-size: 14px;
	background-color: #FCF3EF;
	color: #E36B2B;
	padding: 2px;
}

.DSIcheck {
	margin-left: 25%;
	vertical-align: middle;
}

.helpFields {
	text-decoration: none;
	font-size: inherit;
}

h5.inputHeader {
	font-size: 16px;
	text-transform: none;
}

.essential {
}

.preffered {
}

.nonessential {
}

.bottomHr {
	margin-bottom: 20px;
}

.tableBottomHr {
	margin-top: -2px;
	margin-bottom: 20px;
	width: 100%;
	box-sizing: border-box;
}

	/*<----------------- Media Queries at bottom for essential, preferred, and nonessential classes ---------------->*/


.hidden { display: none; visibility: hidden; z-index: -1;}
.show { display: block; visibility: visible; z-index: auto}

.noShow {
	display: none;
}

.show98 { display: block; visibility: visible; z-index: 98}
.show99 { display: block; visibility: visible; z-index: 99}

.popClass {
	position: absolute;
	justify-content:flex-start;
	display: inline-block;
	min-height: 100px;
	flex: auto;
	width: 100%;

	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	background-color: white;
	
/* 	
    left: 50%;
    transform: translateX(-50%); */
}

.popBelowHeader{
	top: 80px;	
}

#pageMask.popBelowHeader{
	top: 80px;
	margin-top: 0;
	margin-bottom: 0;
}

div#tooltip { width: 300px; background-color:#fc0; font-weight:bold; }

div#suiteletform { 
	max-width: 1000px; 
	margin: 0 auto; 
}


div.submitline { width: 800px; text-align: center; margin: 5px auto;}

div.imgcontainer { margin: 0 auto; width: 700px; height: 150px; }



div#heading { 
	color:#FFF; 
	font:italic bold 18px Verdana, Arial, Sans-Serif; 
	text-align:center; 
	padding: 10px 0; 
	text-shadow: #99b 0px 0px 3px; 
	background-color: #F37321;
}

table.apptable {
	width: 100%;
	padding: 10px 0;
	margin: 0 auto;
	border-collapse: collapse;
	border-spacing: 1;
	overflow: hidden;
}

table.suitelettable {
	width: 100%;
	padding: 10px 0 0 0;
	border-collapse: separate;
	border-spacing: 1;
}

th{
	background-color: #EEE;
	text-align:left; 
	padding: 10px;
}

th.default{
	background-color: transparent;
	text-align:center; 
	padding: 3px;
	font-weight: bold;
}

th.subheader{
	background-color: #DDD;
	text-align:left; 
	padding: 10px;
	font-size: 14px;
}

td.cell{
	color: #000;
	font-family: tahoma, arial, verdana, sans-serif;	
   	font-size: 13px;
	padding: 10px;
	border: solid 1px #000;
}

td.right{
	width: 55%;
}
td.left{
	width: 45%;
}

tr{
	background-color:#FFF;
	color:#333;
	margin: 10px auto;
}

tr.row:hover td.row.hover{
	background-color:#EFF4C6;
	color:#000;
}

tr.row-odd td.row-odd{
	 background-color:#E9E9E9; 

}

tr.row-even td.row-even{
	 background-color:#FFF; 
}

div.buttoncontainer{
	text-align:center;
	width: 100%;
}



/* SSCC Styles */

.floater {
	width: 920px;
	margin: auto;
}
	/*Header Styles*/

.DSITitle {
	margin: 10px auto;
	color: black;
	font-weight: bold;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	width: 50%;
	float: left;
	overflow: hidden auto;
	height: 2.5em;
	font-size: 1.5em;

}

.DSITitle.wide{
	height: 100px;
	font-size: 3em;
	margin-top: 20px;
}

.DSILogoContainer {
	display: inline-block;

	width: 20%;
	vertical-align: middle;
	float: left;
	padding: 3px;

}


.DSILogo {
	max-width: 100%;
	max-height: 40px;
}

button{
	text-align:center;
}

 .btnSubmit {
 	width: 300px;
	height: 2.5em;
	padding: 0;
	margin-top:5px;
	border: outset 1px;
	box-sizing: border-box;
	border-color: rgb(169, 169, 169);
	box-shadow: 1px 1px 2px #fff inset;
	text-shadow: -1px -1px 1px #fff;
	border-radius: 6px;

 }
 
 .old_btnSubmit{	
	
	padding:3px;
	margin-top:5px;
	background-color:#dfdfdf;
	box-shadow: 1px 1px 2px #fff inset;
	text-shadow: -1px -1px 1px #fff;
	border-radius: 6px;

}

.txtbox, .selectbox {
	border: solid 2px;
	border-radius: 6px;
	padding: 3px 0 0 2px;
	margin: 0 0 3px 0;
	box-sizing: border-box; 
}


table.portlettable {
	width:90%; 
	border: none;

	padding: 5px 0;
	margin: 0 auto;
}


table.portlettable td {
	padding: 2px;
}


.itemLabel{
	font-weight:bold;
	position:abolute;
	top:0;
	left:0;
	margin:0px;
	padding: 0 2px 0 0;
}

.clipped{
	overflow: hidden;
}

.bold{
	font-weight: bold;
}

.topleft{
	position:abolute;top:0;left:0;
}

.topright{
	position:abolute;top:0;right:0;
}

.detailSelect {
	min-width: 62px;
	max-width: 100%;
	width: 100%;
	height: 22px;
	margin: auto;
	box-sizing: border-box;
	border: solid 1px #DEDEDE;
	text-align: center;
}

#errorMessage{
	color: F00;
	font-size: 11px;
}

.loader{
	border: 16px solid #CCC; /* Light grey */
    border-top: 16px solid #666; /* Dark grey */
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
    border-radius: 50%;
    width: 20vw;
    height: 20vw;
    max-width: 120px;
    max-height: 120px;
    position: fixed;
    top: 28vh;
    left: 45vw;
    opacity:0.8;
}

.loader_active {
    animation: spin 4s ease-in-out infinite;
   /* animation-delay: 1s;*/
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg);}
    25% { -webkit-transform: rotate(360deg);}
    50% { -webkit-transform: rotate(720deg); }
    60% { -webkit-transform: rotate(1080deg); }
    100% { -webkit-transform: rotate(1440deg); }
}


@keyframes spin {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(360deg);}
    50% { transform: rotate(720deg); }
    60% { transform: rotate(1080deg); }
    100% { transform: rotate(1440deg); }
}


@media all and (max-width: 1024px) {

	.hidden {
		display: none;
		visibility: hidden;
	}



}

@media all and (max-width: 768px) {
	
	.loader{
		border: 16px solid #CCC; /* Light grey */
	    border-top: 16px solid #666; /* Dark grey */
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
	    border-radius: 50%;
	    width: 20vw;
	    height: 20vw;
	    max-width: 120px;
	    max-height: 120px;
	    position: fixed;
	    top: 25vh;
	    left: 34vw;
	    opacity:0.8;
	}
	
	.loader_active {
	    animation: spin 4s ease-in-out infinite;
	}
	
	@keyframes spin {
	    0% { transform: rotate(0deg); }
	    25% { transform: rotate(360deg); }
	    50% { transform: rotate(720deg); }
	    60% { transform: rotate(1080deg); }
	    100% { transform: rotate(1440deg); }
	}
	
	.DSI_fullWidthContainer {
		max-width: 768px;
		display: block;
		overflow: hidden auto;
		min-height: 62px;
		margin: auto;
	}
	
	.oneColumn, .twoColumns, .threeColumns {
		min-height: 60px;
		max-width: 320px;
		display: block;
		margin: auto;
		overflow: hidden;
	}

	.threeColumns {
		overflow: auto;
	}

	.leftColumn, .middleColumn, .rightColumn {
		min-height: 60px;
		max-width: 100%;
		margin: auto;
		display: block;
		padding: 1px;
	}

	.preferred {
	}

	.nonessential {
		display: none;
	}

	td.DSI_td {
		border-bottom: 1px solid lightgrey;
		overflow: hidden;
	}

	.selectBackground {
		background-color: #ccc;
	}

	.mobileShow {
		display: block;
	}

	.hidden {
		display: none;
		visibility: hidden;
	}


/* 	#detailDiv {
		position: relative;
		justify-content:flex-start;
		display: inline-block;
		min-height: 100px;
		flex: auto;
		width: 100%;
		margin: auto;
		top: 50%;
	    left: 50%;
	    transform: translate(-50%, -89%);
	} */
}

#errorMessage {
	color: #F00;
	font-size: 11px;
}

@media all and (max-width: 667px) {
/* 	#detailDiv {
		position: relative;
		justify-content:flex-start;
		display: inline-block;
		min-height: 100px;
		flex: auto;
		width: 100%;
		margin: auto;
		top: 50%;
	    left: 50%;
	    transform: translate(-50%, -125%);
	} */
}

@media all and (max-width: 556px) {
/* 	#detailDiv {
		position: absolute;
		justify-content:flex-start;
		display: inline-block;
		min-height: 100px;
		flex: auto;
		width: 100%;
		margin: auto;
		top: 50%;
	    left: 50%;
	    transform: translate(-50%, -90%);
	} */
}

@media only screen and (max-width: 500px) {

	.DSI_fullWidthContainer {
		min-height: 62px;
		max-width: 320px;
		display: block;
		margin: auto;
		overflow: hidden auto;
	}

	.DSI_tableHeader {
		width: 280px;
		line-height: 60px;
		vertical-align: middle;
		text-transform: uppercase;
		font-size: 20px;
		margin: auto;
	}

	.headingSpan {
		width: 280px;
		display: block;
		margin: auto;
		text-align: center;
	}

	.oneColumn, .twoColumns, .threeColumns {
		min-height: 60px;
		max-width: 320px;
		display: block;
		margin: auto;
		overflow: hidden;
	}



	.leftColumn, .middleColumn, .rightColumn {
		min-height: 60px;
		max-width: 100%;
		margin: auto;
		display: block;
		padding: 1px;
	}

	.preferred {
		display: none;
	}

	.nonessential {
		display: none;
	}

	th.DSI_th {
		padding: 0 0 0 8px;
	}

	td.DSI_td {
		border-bottom: 1px solid lightgrey;
		overflow: hidden;
		padding: 0 5px;
	}

	td.error {
		border: none;
	}

	.selectBackground {
		background-color: #ccc;
	}

	.mobileShow {
		display: block;
	}
	.tableSelect {
		width: 62px;
		height: 22px;
		margin: auto;
		box-sizing: border-box;
	}
 .bininput {
               width: 100%;
        }
	.detailSelect {
		min-width: 62px;
		max-width: 100%;
		width: 100%;
		height: 22px;
		margin: auto;
		box-sizing: border-box;
		border: solid 1px #DEDEDE;
		text-align: center;
	}

	.accordionMain, .accordionSub, .accordionMainEx, .accordionSubEx {
		max-width: 100%;
	}


	.accordionMainli {
		line-height: 20px;
		vertical-align: top;
		text-transform: uppercase;
		font-size: 16px;
		font-weight: bold;
		max-width: 100%;
	}

	.accordionSubli {
		line-height: 20px;
		vertical-align: middle;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: normal;
		margin-right: 20px;
		max-width: 100%;
	}

	th.accordion_th {
		font-size: 14px;
		text-transform: none;
	}
	.accordionTable {
		width: 260px;
		padding: 10px 0;
		margin: 0 auto;
		border-collapse: collapse;
		border-spacing: 1;
		overflow: hidden;
	}

	.nestedTable {
		display: block;
		width: 100%;
	}
	
	.inputdisabled {
		min-width: 62px;
		max-width: 100%;
		width: 100%;
		height: 22px;
		margin: auto;
		box-sizing: border-box;
		border: solid 1px #BFBFBF;
		background-color: #fff;
	}

	.forceDown {
		margin-top: 25px;
	}

	.hidden {
		display: none;
		visibility: hidden;
	}

}

@media all and (max-width: 362px) {
/* 	#detailDiv {
		position: absolute;
		justify-content:flex-start;
		display: inline-block;
		min-height: 100px;
		flex: auto;
		width: 100%;
		margin: auto;
		top: 50%;
	    left: 50%;
	    transform: translate(-50%, -130%);
	} */
}

.errorMessage {
	color: #F00;
	font-size: 11px;
}